body {
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: 20% 60% 20% 20%;
    grid-template-rows: 20% 20% 60% 20% 20% 60%;
}

h2 {
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: center;
}

a {
    text-align: center;
    grid-column-start: 3;
    font-size: 18px;
    border: 1px solid red;
    border-radius: 4px;
    width: 150px;
    height: 50px;
}

div {
    font-size: 16px;
    grid-row-start: 3;
}
