<a href="/artists">Back to all Artists</a>

<h2>{{single.name}}</h2>

<a href="/artists/{{artist._id}}/edit">Edit Single</a>

<form action="/artists/{{artist._id}}?_method=DELETE" method="post">
    <input type="submit" value="Delete Single">
</form>

<h3>Credits</h3>

<ul>
    {{#each Credit}}
        <li>{{name}}</li>
    {{/each}}
</ul>