<a href="/artists"> Return to Artist Directory</a>
<body class="form-body">
    <h1>Create New Artist</h1>
    <form method="POST" action="/artists">
        <div class="newArtist form-fields">
            <div class="form-group">
                <label for="name">Artist Name:</label>
                <input type="text" name="name" id="name" class="form-control" />
            </div>
            
            
            <div class="form-group">
                <label for="rating">Rating:</label>
                    <input 
                    type="number" 
                    name="rating"
                    id="rating"
                    min="0"
                    max="5"
                    />
            </div>
            <div class="form-group">
                <label for="imgLink">Image Link:</label>
                <input type="text" name="imgLink" id="imgLink" class="form-control" />
            </div>
        </div>
        <input type="submit" value="Create Artist" class="btn-create" />
    </form>
</body>